---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection
  title="Kampuni Bora za Aviator Casino Tanzania"
  id="compatibility"
>
  <Fragment slot="lead">
    Hizi hapa kampuni bora za <span class="text-primary"
      >Aviator za Tanzania</span
    > mtandaoni. Cheza na ushinde hadi mamilioni.
    <span class="text-primary">Ni Rahisi.</span>
    Jaribu sasa mchezo wa <span class="text-primary">Aviator Casino</span> na Ushinde.
  </Fragment>
  <hr />
  <div class="kampunis">
    <ul>
      <li class="kmp">
        <h3>1. Gal Sport Betting Aviator TZ</h3>
        <div class="img">
          <img
            src="/gsb-aviator.webp"
            alt="Kampuni bora ya Aviator Casino Tanzania"
          />
          <span class="maelezo">
            <ul>
              <p>
                Kampuni bora ya Aviator Tanzania kwa mwaka huu ni Gal Sport
                Betting. Cheza Aviator na GSB uweze kuchukua ofa na zawadi
                mbalimbali Zikiwemo
              </p>
              <li><span class="kindege">✈</span> <span>200% BURE! Deposit ya Kwanza</span></li>
              <li><span class="kindege">✈</span> <span>Mizunguko 15 ya Aviator BURE</span></li>
              <li><span class="kindege">✈</span> <span>Aviator Rain: Freebets za Aviator kila wiki</span></li>
            </ul>
          </span>
          <div class="btn"><button id="gsb">JISAJILI SASA</button></div>
        </div>
      </li>
      <li class="kmp">
        <h3>2. Aviator ya BetWay Tanzania</h3>
        <div class="img">
          <img
            src="/bw-aviator.webp"
            alt="Betway Kampuni bora ya Aviator Casino Tanzania"
          />
          <span class="maelezo">
            <ul>
              <p>
                BetWay Tanzania ni mojawapo ya kampuni bora za kucheza Aviator
                Tanzania. Deposit kwa mitandao yote ya simu na ucheze Aviator
                mtandaoni pamoja na michezo mingi ya Casino Tanzania.
              </p>
              <p>Hizi ni miongoni mwa ofa za BetWay Aviator</p>
              <li><span class="kindege">✈</span> <span>150% BURE! ya Deposit ya Kwanza</span></li>
              <li><span class="kindege">✈</span> <span>Aviator Rahisi na Nyepesi</span></li>
              <li><span class="kindege">✈</span> <span>Free Flights: Paisha BURE mara 5 kila wiki</span></li>
            </ul>
          </span>
          <div class="btn"><button id="bw">JISAJILI SASA</button></div>
        </div>
      </li>
      <li class="kmp">
        <h3>3. Aviator ya Parimatch Tanzania</h3>
        <div class="img">
          <img
            src="/pm-aviator.webp"
            alt="Parimatch Kampuni bora ya Aviator Casino Tanzania"
          />
          <span class="maelezo">
            <ul>
              <p>
                Parimatch Tanzania ni miongoni mwa kampuni bora za kucheza Aviator
                Tanzania. Ni kampuni kongwe na yenye michezo mingi ya Kasino mbali na Aviator.
              </p>
              <p>Parimatch Aviator wanakuja na ofa zifuatazo</p>
              <li><span class="kindege">✈</span> <span>100% BURE! ya Deposit ya Kwanza</span></li>
              <li><span class="kindege">✈</span> <span>Mchongo wa Tsh. 5,000 - Jipatie Tsh. 5,000 BURE ukicheza Aviator au Casino kwa mara ya kwanza.</span></li>
              <li><span class="kindege">✈</span> <span>Twenzetu Dubai. Cheza Aviator na Parimatch kujishindia safari ya Dubai</span></li>
            </ul>
          </span>
          <div class="btn"><button id="pm">JISAJILI SASA</button></div>
        </div>
      </li>
    </ul>
  </div>
</ContentSection>

<style>
  .kampunis ul {
    max-width: 720px;
  }

  .kampunis .kmp {
    border: 1px solid #d3d3d3;
    padding: 12px 4px;
    border-radius: 12px;
    margin: 24px auto;
  }

  .kampunis .kmp .maelezo {
    font-size: 14px;
  }

  .kampunis .kmp li {
    padding-left: 16px;
    display: flex;
    margin: 12px auto;
  }

  .kampunis .kmp p {
    text-align: justify;
    margin-bottom: 6px;
  }

  .kampunis .kmp li span {
    display: inline-block;
  }

  .kampunis .kmp li .kindege {
    margin-right: 4px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ec3dec;
    font-size: 12px;
  }

  .kampunis h3 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin: 12px auto;
  }

  .kampunis .btn {
    text-align: center;
    width: 100%;
    margin: 12px auto 8px auto;
  }

  .kampunis .btn button {
    background-color: #1e90ff;
    font-weight: bold;
    color: white;
    padding: 12px;
    border-radius: 24px;
    width: 80%;
  }
</style>

<script>
  const gsb = `http://bet-link.top/gsb/register`;
  const bw = `http://bet-link.top/betway/register`;
  const pm = `http://bet-link.top/pmatch/register`;

  document.getElementById('bw')?.addEventListener('click', ()=> {
    window.open(bw)
  })
  document.getElementById('gsb')?.addEventListener('click', ()=> {
    window.open(gsb)
  })

  document.getElementById('pm')?.addEventListener('click', ()=> {
    window.open(pm)
  })
</script>
