---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data,
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);
---

<ContentSection title="Michezo Mingine Kasino" id="casino-michezo">
  <Fragment slot="lead">
    Mbali na Aviator, tuna michezo mingine ya <span class="text-primary">Kasino Mtandaoni</span> inayoweza kukuingizia pesa.
    <span class="text-primary">Tanzania Casino.</span> Hii hapa michezo bora 6 ya
    <span class="text-primary">Kasino Mtandaoni</span>.
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {orderedSites.map((site) => <ShowcaseCard site={site} />)}
    </div>
    <p class="text-right text-sm">
      <a class="text-primary" href="http://bet-link.top/gsb/register">
        ...na mingine &rarr;
      </a>
    </p>
  </div>
</ContentSection>
